<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <ul>
        <h1>This is our lead list</h1>
        {% for lead in leads %}
            <div>
                <a href="{% url 'leads:lead_detail' lead.pk %}">{{ lead.first_name }} {{ lead.last_name }}</a>.Age: {{ lead.age }}
            </div>
        {% endfor %}
    </ul>
</body>
</html>